footer {
  background-color: #292929;
  color: white;
}

.navbar-custom {
  background-color: yellow;
  color: yellow;
}

h1 {
  color: darkred;
  font-size: 16px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
}